@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #baf607;
  --foreground: #f30f0f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #3203ef;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}